@model (List<AppointmentVehicleUser> appointments, string title, string emptyMsg)

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            border: 1px solid #dddddd;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #e4e4e4;
        }

    </style>
</head>

<body>
    <table>
        <tr>
            <th colspan="7" style="background-color: #b1b1b1">@Model.title</th>
        </tr>
        <tr>
            <th>Nummer</th>
            <th>Dag</th>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Carvan/Camper</th>
            <th>Halen/Brengen</th>
            <th>Gebruiker</th>
        </tr>

        @if (Model.appointments.Count > 0)
        {
            var cultureInfo = new System.Globalization.CultureInfo("nl-NL");
            foreach (var appointment in Model.appointments)
            {
                <tr>
                    <th>@Model.appointments.IndexOf(appointment)</th>
                    <td>@cultureInfo.DateTimeFormat.GetDayName(appointment.Appointment.Date.DayOfWeek).ToString()</td>
                    <td>@appointment.Appointment.Date.Date.ToString().Split(" ")[0]</td>
                    <td>@appointment.Appointment.Date.Hour.ToString("00.##") : @appointment.Appointment.Date.Minute.ToString("00.##")</td>
                    <td>@appointment.Vehicle.Type.ToString()</td>
                    <td>@appointment.Appointment.AppointmentType.ToString()</td>
                    <td>@appointment.ApplicationUser.FullName.ToString()</td>
                </tr>
            }
        } else
        {
            <tr>
                <th>@Model.emptyMsg</th>
            </tr>
        }
    </table>
</body>
</html>