@model Project_CCSB.Models.ViewModels.VehicleViewModel

<h2>Alle voertuigen</h2>

<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Kenteken</th>
                <th scope="col">Merk</th>
                <th scope="col">Lengte</th>
                <th scope="col">Stroom</th>
                <th scope="col">Gebruiker</th>
                <th scope="col" class="col-1">Verwijder</th>
            </tr>
        </thead>
        @foreach (var vehicle in ViewBag.Vehicles)
        {
            <tr>
                <td>@vehicle.LicensePlate</td>
                <td>@vehicle.Brand</td>
                <td>@vehicle.Length meter</td>
                <td>@vehicle.PowerText</td>
                <td>@vehicle.FullName</td>
                <td class="col-1">
                    @if (vehicle.IsDeleteAble)
                    {
                        <button class="btn btn-danger deleteVehicleBtn" onclick="PopUpShow('@vehicle.LicensePlate')">X</button>
                    }
                </td>
            </tr>
        }
    </table>

    @await Html.PartialAsync("_ConfirmPopUp", "Delete")
</div>

<script>
    function Delete(licenseplate) {
        var plate = licenseplate.toString();
        $.ajax({
            url: "https://localhost:5001/api/VehicleApi/DeleteVehicle",
            type: "Delete",
            headers: {
                "licensePlate": plate
            },
            success: function (response) {
                console.log(response);
                location.reload();
            }
        });
    }
</script>