@model Project_CCSB.Models.ViewModels.VehicleViewModel

<h2>Alle voertuigen</h2>

<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Kenteken</th>
                <th scope="col">Merk</th>
                <th scope="col">Lengte</th>
                <th scope="col">Stroom</th>
                <th scope="col">Gebruiker</th>
                <th scope="col">Verwijder</th>
            </tr>
        </thead>
        @foreach (var vehicle in ViewBag.Vehicles)
        {
            <tr>
                <td>@vehicle.LicensePlate</td>
                <td>@vehicle.Brand</td>
                <td>@vehicle.Length meter</td>
                <td>@vehicle.PowerText</td>
                <td>@vehicle.FullName</td>
                <td><button class="btn" onclick="PopUpShow('@vehicle.LicensePlate')">X</button></td>
            </tr>
        }
    </table>

    <div class="popUpDeleteVehicleBackground" hidden>
        <div class="popUpDeleteVehicle">
            <h3>Weet je zeker dat je dit<br />voertuig wilt verwijderen?</h3>
            <div class="popUpDeleteVehicleButtonDiv">
                <button class="btn-block btn-success deleteVehicleConfirm">JA</button>
                <button class="btn-block btn-danger" onclick="PopUpRemove()">NEE</button>
            </div>
        </div>
    </div>
    <style>
        .popUpDeleteVehicleBackground {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background: rgba(0, 0, 0, 0.5);
        }
        .popUpDeleteVehicle {
            display: block;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
            background: lightgray;
            padding: 1rem;
            border-radius: 0.2rem;
        }
        .popUpDeleteVehicleButtonDiv {
            display: block;
            margin-top: 1rem;
        }
        .popUpDeleteVehicleButtonDiv button {
            outline: 0;
            height: 100%;
            border: none;
        }
    </style>
</div>

<script>
    function Delete(licenseplate) {
        var plate = licenseplate.toString();
        $.ajax({
            url: "https://localhost:5001/api/VehicleApi/DeleteVehicle",
            type: "Delete",
            headers: {
                "licensePlate": plate
            },
            success: function (response) {
                console.log(response);
                location.reload();
            }
        });
    }

    function PopUpShow(licensePlate) {
        $(".popUpDeleteVehicleBackground").attr("hidden", false);

        $(".deleteVehicleConfirm").on("click", () => {
            Delete(licensePlate);
            PopUpRemove();
        });
    }
    function PopUpRemove() {
        $(".popUpDeleteVehicleBackground").attr("hidden", true);
    }
</script>