@model Project_CCSB.Models.ViewModels.MyVehiclesViewModel

<h2>Mijn voertuigen</h2>
@if (ViewBag.vehicles.Count > 0)
{
<table class="table-bordered w-100">
    <thead class="">
        <tr>
            <th scope="col" class="col-3">Kenteken</th>
            <th scope="col" class="col-3">Type</th>
            <th scope="col" class="col-3">Merk</th>
            <th scope="col" class="col-3">Lengte</th>
            <th scope="col" class="col-3">Stroom</th>
            <th scope="col" class="col">Bewerk</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in ViewBag.vehicles)
        {
            <tr>
                <td class="pl-3">@vehicle.LicensePlate</td>
                <td class="pl-3">@vehicle.Type</td>
                <td class="pl-3">@vehicle.Brand</td>
                <td class="pl-3">@vehicle.Length meter</td>
                <td class="pl-3">@vehicle.PowerText</td>
                <td class="text-center"><a asp-controller="Home" asp-action="Index">E</a> / <a>X</a></td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <h3>Je hebt geen voertuigen voeg er <a asp-action="AddVehicle" asp-controller="Vehicle">hier</a> een toe!</h3>
}